---
layout: page
title: Category
background: '/img/posts/01.jpg'
---

{% for category in site.categories %}
<h2 class="page-post-title">{{ category[0] | capitalize }}</h2>
<hr>
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
<article class="category-preview ml-3">
    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        <h4 class="category-title">{{ post.title }}
        </h4>
    </a>
    <p class="category-meta">Posted by
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.author }}
        {% endif %}
        on
        {{ post.date | date: '%B %d, %Y' }}
    </p>
</article>
{% endif %}
{% endif %}
{% endfor %}
<br>
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
